<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/style/first.css">
  <title>Protfolio</title>
</head>

<body>
  <div>
    <div style="float: left;">
      <h1>Chetna Chandwani / Software Developer</h1>
      <!-- navbar -->

      <!-- card -->
      <div class="main-card">
        <div class="main-card">
          <div class="sub-card">
            <img class="snap" src="/picture/Chandwani_Chetna_MSIT.jpg" atl="profile_pic" width="170" height="170">
            <div class="container">
              <h4><b>Chetna Chandwani</b></h4>
              <a href="https://www.linkedin.com/in/chetna-chandwani/"><i class="fa fa-linkedin-square"
                  aria-hidden="true"></i></a>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div>
      <nav class="nav-bar">
        <ul>
          <a href="./about.html">ABOUT ME </a>
          <a href="./resume.html">RESUME</a>
          <a href="./projects.html">PROJECTS</a>
          <a href="./contact.html">CONTACT ME</a>
        </ul>
      </nav>
      </div>
      <br><br>
      <div class="article">
      <h1 style="font:100px poppins-semibold;">Hello</h1>
      <p><b>Here's who I am & what I do</b></p>
      <button class="button">Resume</button>
      <button class="button">Projects</button>
      <p class="about">
        I am Chetna Chandwani from a hill station called Ooty in South India. I am currently pursuing my Master of
        Science
        in Information Technology at the University of Cincinnati. I Completed my Undergraduate in the field of
        Electrical
        and Electronics Engineering. As a part of my under graduation, I was given an opportunity to choose the subjects
        owing to the choice-based credit system followed on my campus. This system proved to be as beneficial as it led
        me
        to my passion, for the development of Applications and Websites.<br><br>
        Working with a variety of web technologies and implementing them in real-world projects has allowed me to hone
        my
        technical and soft abilities. Over the next years, I'd like to place myself in a position where I might take on
        a
        leadership role in a company, overseeing both the technical and business aspects.
      </p>
    </div>
    <!-- footer  -->
    
      <footer>
        <p style="padding-right: 20px;" >Call<br>
         +1 (513)-807-1077</p>
        <p style="padding-right: 20px;">Write<br>
        chetnachandwani.01@gmail.com</p>
        <p style="padding-right: 20px;">Follow<br>
          <a href="https://www.linkedin.com/in/chetna-chandwani/"><i class="fa fa-linkedin-square"
              aria-hidden="true"></i></a></p>
      </footer>
  
  </div>
</body>


</html>